<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IntegrationsTester.VariableHandlers.Globals" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IntegrationsTester.VariableHandlers.CustomCredentials" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IntegrationsTester.VariableHandlers.StandardCredentials" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IntegrationsTester.VariableHandlers.CanadianCredentials" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IntegrationsTester.VariableHandlers.LoopbackCredentials" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IntegrationsTester.VariableHandlers.FSACredentials" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IntegrationsTester.Globals" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <IntegrationsTester.VariableHandlers.Globals>
            <setting name="Environment" serializeAs="String">
                <value>TEST</value>
            </setting>
            <setting name="DuplicateMode" serializeAs="String">
                <value>NO_CHECK</value>
            </setting>
        </IntegrationsTester.VariableHandlers.Globals>
        <IntegrationsTester.VariableHandlers.CustomCredentials>
            <setting name="XWebID" serializeAs="String">
                <value />
            </setting>
            <setting name="XWebAuthKey" serializeAs="String">
                <value />
            </setting>
            <setting name="XWebTerminalID" serializeAs="String">
                <value />
            </setting>
            <setting name="CAXWebID" serializeAs="String">
                <value />
            </setting>
            <setting name="CAXWebAUthKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CAXWebTerminalID" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountToken" serializeAs="String">
                <value />
            </setting>
        </IntegrationsTester.VariableHandlers.CustomCredentials>
        <IntegrationsTester.VariableHandlers.StandardCredentials>
            <setting name="XWebID" serializeAs="String">
                <value />
            </setting>
            <setting name="XWebAuthKey" serializeAs="String">
                <value />
            </setting>
            <setting name="XWebTerminalID" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountToken" serializeAs="String">
                <value>C9CBE35FCE67540F328FE4FC8758AF6DCECC24954FB2C4FFE4A24F2B81D95FEA9953BC5CF45601D078</value>
            </setting>
            <setting name="TestingString" serializeAs="String">
                <value>account_token=C9CBE35FCE67540F328FE4FC8758AF6DCECC24954FB2C4FFE4A24F2B81D95FEA9953BC5CF45601D078&amp;transaction_type=CREDIT_CARD&amp;entry_mode=KEYED&amp;charge_type=SALE&amp;charge_total=1&amp;order_id=8370668886807390&amp;duplicate_check=NO_CHECK&amp;manage_payer_data=true</value>
            </setting>
            <setting name="ActiveAccountToken" serializeAs="String">
                <value>C9CBE35FCE67540F328FE4FC8758AF6DCECC24954FB2C4FFE4A24F2B81D95FEA9953BC5CF45601D078</value>
            </setting>
            <setting name="ActiveXWebID" serializeAs="String">
                <value />
            </setting>
            <setting name="ActiveXWebAuthKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ActiveXWebTerminalID" serializeAs="String">
                <value />
            </setting>
        </IntegrationsTester.VariableHandlers.StandardCredentials>
        <IntegrationsTester.VariableHandlers.CanadianCredentials>
            <setting name="XWebIDCredit" serializeAs="String">
                <value />
            </setting>
            <setting name="XWebAuthKeyCredit" serializeAs="String">
                <value />
            </setting>
            <setting name="XWebTerminalIDCredit" serializeAs="String">
                <value />
            </setting>
            <setting name="XWebIDDebit" serializeAs="String">
                <value />
            </setting>
            <setting name="XWebAuthKeyDebit" serializeAs="String">
                <value />
            </setting>
            <setting name="XWebTerminalIDDebit" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountToken" serializeAs="String">
                <value />
            </setting>
        </IntegrationsTester.VariableHandlers.CanadianCredentials>
        <IntegrationsTester.VariableHandlers.LoopbackCredentials>
            <setting name="XWebID" serializeAs="String">
                <value />
            </setting>
            <setting name="XWebAuthKey" serializeAs="String">
                <value />
            </setting>
            <setting name="XWebTerminalID" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountToken" serializeAs="String">
                <value />
            </setting>
        </IntegrationsTester.VariableHandlers.LoopbackCredentials>
        <IntegrationsTester.VariableHandlers.FSACredentials>
            <setting name="XWebID" serializeAs="String">
                <value>800000001844</value>
            </setting>
            <setting name="XWebAuthKey" serializeAs="String">
                <value>Wzx6TndYSfmFEFIW20AsHtAc79TezUe5</value>
            </setting>
            <setting name="XWebTerminalID" serializeAs="String">
                <value>80026141</value>
            </setting>
        </IntegrationsTester.VariableHandlers.FSACredentials>
        <IntegrationsTester.Globals>
            <setting name="XWebID" serializeAs="String">
                <value />
            </setting>
            <setting name="XWebAuthKey" serializeAs="String">
                <value />
            </setting>
            <setting name="XWebTerminalID" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountToken" serializeAs="String">
                <value />
            </setting>
        </IntegrationsTester.Globals>
    </userSettings>
</configuration>